#mycanvas{
                        border: 5px solid skyblue;
                        background : url("bg2.png");
                        -webkit-animation: animatedBackground 20s linear infinite;
                        background-repeat: repeat-y;
                }

                @-webkit-keyframes animatedBackground {
                        from { background-position: 0 0; }
                        to { background-position: 0 2000px; }
                }

html {
  background: url("bg2.png");
  background-size: cover;


}

canvas {
  display:block;
  margin:30px auto 0;
  border:1px dashed #ccc;
  background:#000;
}
